* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(25, 31, 42), rgb(0, 28, 80));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5px;
}

form {
  width: 85%;
  background-color: rgba(24, 24, 24, 0.552);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#textbox {
  width: 90%;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 10px;
  resize: none;
  color: deepskyblue;
}

form>button {
  width: auto;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 10px;
}

form>button>i {
  color: aqua;
  font-size: 20px;
  transition: all 0.5s;
}

form>button>i:hover {
  color: aquamarine;
  transform: scale(1.2);
}


/* js html style */
#chat_container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  font-size: 20px;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#chat_container::-webkit-scrollbar {
  display: none;
}

.chat {
  display: flex;
  width: 100%;
  padding: 5px 10px;
}

.profile {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 7px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.407);
}


.profile>img {
  width: 25px;
  height: 25px;
}


.ai {
  background-color: rgba(165, 165, 165, 0.337);
  color: #0099FF;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.false {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message {
  white-space: pre-wrap;
}

.info {
  font-size: larger;
  /* transform: translateX(-50%) translateY(-50%); */
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* width: fit-content; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 170px; */
  padding: 40px;

}

.ex {
  background-color: rgba(24, 24, 24, 0.552);
  padding: 10px;
  color: deepskyblue;
  width: fit-content;
}

@media screen and (max-width:512px) {
  .info {
    font-size: medium;
  }
}